
/*----------------
  FEATURED DEALS
-----------------*/
    
.featured-deals {
  margin-bottom: 2rem;

}
    
h2{
  display: flex;
  justify-content: flex-start;
  color: white;
  text-transform: uppercase;
}
    
.featured-deals-container {
  display: flex;
}
    
.card-big {
  width: 60%;
  display: flex;
  flex-direction: column;
}
    
.card-small-container {
  width: 40%;
  display: flex;
  flex-direction: column;  
}
    
.card-small-row {
  display: flex;
}
    
.card-small1, .card-small3{
  padding-right: 2.5%;  
  padding-left: 5%;
}
    
.card-small2, .card-small4{
  padding-left: 2.5%;
}
    
.card-small1, .card-small2 {
  padding-bottom: 2.5%;
}
    
    
.card-small3, .card-small4 {
  padding-top: 2.5%;
}
    
    
.card-small-img {
  object-fit:cover;
  width: 100%;
}
    
.card-small-info {
  display: flex;
  background-color: black;
  padding: 0.5rem;
}

.card-small-price-container {
  display: flex;
  width: 80%;
}
    
.card-small-discount {
  background-color: red;
  color: white;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}    
    
.card-small-last-price {
  color: white;
  text-decoration: line-through;
  margin: 0;
  font-size: 0.8rem;
  padding-left: 1rem;
  text-align: left;
}
    
.card-small-new-price {
  color: rgba(0,237,0);
  margin: 0;
  font-size: 0.8rem;
  padding-left: 1rem;
  text-align: left;
}
    
.card-small-platform {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
    
.card-small-platform i {
  margin-left: 0.5rem;
  font-size: 2rem;  
}
    
.addToCart-btn-small {
  width: 100%;
  background-color: var(--lightBlue);
  border: none;
  font-size: 0.8rem;
  text-transform: uppercase;  
  font-weight: 600;
  padding: 0.5rem;
}
    
.addToCart-btn-small:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
    
.addToCart-btn-small i {
  margin-right: 0.5rem;
}
    



/*----------------
    BIG CARD
-----------------*/


.card-big-img {
  object-fit:cover;
  height: 64.5%;
  padding:0;
  margin: 0;
}
    
.card-big-info {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 0.5rem;
  margin: 0;
}

.card-big-price-container {
  display: flex;
  width: 80%;
}
    
.card-big-cart {
  background-color: var(--darkGrey);
  padding: 0;
  margin: 0;
}
    
.card-big-discount {
  background-color: red;
  color: white;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
}
    
.card-big-price {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  align-items: left;
  justify-content: flex-end; 
}
    
.card-big-last-price {
  color: white;
  text-decoration: line-through;
  margin: 0;
  font-size: 1.4rem;
  text-align: left;
}
    
.card-big-new-price {
  color: rgba(0,237,0);
  margin: 0;
  font-size: 1.4rem;
  text-align: left;
}
    
.card-big-platform {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
    
.card-big-platform i {
  margin-left: 0.5rem;
  font-size: 3rem;  
}
    
.card-big-cart {
  background-color: var(--darkGrey);
  height: 7%;
  padding: 0;
  margin: 0;
}
      
.addToCart-btn-big {
  width: 100%;
  height: 100%;
  background-color: var(--lightBlue);
  border: none;
  font-size: 1.2rem;
  text-transform: uppercase;  
  font-weight: 600;
  padding: 0.5rem;
}
      
.addToCart-btn-big:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
      
.addToCart-btn-big i {
  margin-right: 0.5rem;
}
     
    


/*----------------
    PRODUCT LIST
-----------------*/


.product-list {
  display: flex;
  justify-content:left;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}


.card {
  width: 20%;
  display: flex;
  flex-direction: column;  
  background-color: black;
}  
  
.card-img {
  object-fit:cover;
  width: 100%;
}
  
.card-info {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}  
   
/* .card-name {
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  padding-bottom: 0.5rem;
}

.card-genre {
  color: lightgray;
  margin: 0;
} */
 
  
.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;

}  
 
.card-price {
  margin: 0;
}

.platform i { 
    font-size: 1.5rem;      
}
  
.card-cart {
  height: 2rem;  
}
  
.addToCart-btn {
  width: 100%;
  height: 100%;
  background-color: var(--lightBlue);
  border: none;
  font-size: 0.8rem;
  text-transform: uppercase;  
  font-weight: 600;

}
  
.addToCart-btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
  
.addToCart-btn i {
  margin-right: 0.5rem;
}
  
