h2{
  display: flex;
  justify-content: flex-start;
  color: white;
  text-transform: uppercase;
}    

.product-list {
  display: flex;
  justify-content:left;
  gap: 2.7rem;
  flex-wrap:wrap;
  margin-bottom: 2rem;  
}

.card {
  width: 18%;
  display: flex;
  flex-direction: column;  
  background-color: black;
}  
  
.card-img-container {
  width: 100%;
}

.card-img {
  height: 9rem;
  width: 100%;
  object-fit: cover;  
}
  
.card-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}   
  
.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;  
}  
 
.card-price {
  margin: 0;
}

.platform i { 
    font-size: 1.5rem;      
}
  
.card-cart {
  height: 2rem;  
}
  
.addToCart-btn {
  width: 100%;
  height: 100%;
  background-color: var(--lightBlue);
  border: none;
  font-size: 0.8rem;
  text-transform: uppercase;  
  font-weight: 600;

}
  
.addToCart-btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
  
.addToCart-btn i {
  margin-right: 0.5rem;
}


/* ----------------
    Media Queries
------------------*/

/* Pantallas extra grandes (desktops de mas de 1400px) */
@media (min-width: 1440px) { 

  
}


/* Pantallas extra grandes (desktops de mas de 1400px) */
@media (max-width: 1440px) { 
  
  .product-list { 
    gap: 2rem; 
    margin-bottom: 2rem;  
  }

  .card {
    width: 23%;
  }  

}

/* Pantallas grandes (desktops de menos de 1200px) */
@media (max-width: 1200px) { 

  .product-list { 
    gap: 2rem; 
    margin-bottom: 2rem;  
  }

  .card {
    width: 30%;
  }  
}


/* Pantallas medianas (tablets de menos de 992px) */
@media (max-width: 992px) { 
  
  .product-list { 
    gap: 2rem; 
    margin-bottom: 2rem;  
  }

  .card {
    width: 47%;
  } 

}


/* Pantallas pequeñas (móviles en landscape de menos de 768px) */
@media (max-width: 768px) { 

}


/* Pantallas muy pequeñas (móviles en portrait de menos de 576px) */
@media (max-width: 576px) { 

  .product-list { 
    gap: 2rem; 
    margin-bottom: 2rem;  
  }

  .card {
    width: 100%;
  } 

}
  
  
